In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
data=pd.read_csv('data.csv')

In [3]:
def reconciliation(data: pd.DataFrame, sender_code: int, volume: int) -> pd.DataFrame:
    df=data[data.loc[:,'sender_code'] == sender_code]
    if volume < sum(df.loc[:,'MIN']):
        df.loc[:,'new_value'] = (df.loc[:,'MIN']/(sum(df.loc[:,'MIN'])))*volume
    else:    
        df.loc[:,'diff'] = df.loc[:,'MAX'] - df.loc[:,'MIN']
        df.loc[:,'diff'] = (df.loc[:,'diff']/(sum(df.loc[:,'diff'])))*(volume - (sum(df.loc[:,'MIN'])))
        df.loc[:,'new_value'] = df.loc[:,'diff'] + df.loc[:,'MIN']
        df.drop('diff', axis = 1, inplace = True)
    return df

In [4]:
reconciliation(data, 6659, 5000)

,sender_code,sender_point_id,recipient_point_id,MIN,MAX,new_value
851,6659,76404,689109,5013.0,6062.0,3637.880987
983,6659,20108,674000,138.0,413.0,100.145138
1352,6659,525205,676700,551.0,1102.0,399.854862
1767,6659,76404,860009,1188.0,1188.0,862.119013

In [5]:
reconciliation(data, 6659, 7000)

,sender_code,sender_point_id,recipient_point_id,MIN,MAX,new_value
851,6659,76404,689109,5013.0,6062.0,5074.541333
983,6659,20108,674000,138.0,413.0,154.133333
1352,6659,525205,676700,551.0,1102.0,583.325333
1767,6659,76404,860009,1188.0,1188.0,1188.000000